/* .section-title {
    margin-top: 50px;
} */

.service-item {
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.service-item-row {
    margin-left: 180px;
}
.first-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.second-row {
    display: flex;
    flex-direction: row;
}
.service-item .service-item-inner {
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}
.service-item .service-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.service-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    font-size: 40px;
    transition: all 0.3s ease;
    line-height: 60px;
    color: var(--skin-color);
}
.service-icon:hover {
    background: var(--skin-color);
    margin-top: 10px;
}
.service-icon:hover {
    font-size: 25px;
    color: #fff;
}
.service-item .service-item-inner h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}
.service-item .service-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}
.service .container {
    padding-bottom: 40px;
}
.row1 {
    margin-left: 16.5%;
    padding-top: 100px;
}
